@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.writing-vertical {
  writing-mode: vertical-lr;
}

.quill > .ql-toolbar:first-child {
  display: none !important;
}

.quill > .ql-container > .ql-editor {
  min-height: 300px;
}

.quill > .ql-toolbar {
  border-radius: 6px 6px 0 0;
}

.quill > .ql-container {
  border-radius: 0 0 6px 6px;
}
